body {
  margin: 0;
  font-size: 20pt;
  font-family: 'Ubuntu', sans-serif; }

#header {
  position: absolute;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.8);
  padding: 0; }
  #header #navbar {
    list-style-type: none;
    color: #d8d8d8;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    font-size: 0.7em; }
    #header #navbar li {
      margin: auto 0;
      cursor: pointer; }
      #header #navbar li .fa-tv {
        font-size: 2em; }
    #header #navbar #category-toggle {
      font-size: 1.3em; }
      #header #navbar #category-toggle i {
        border: 0; }
    #header #navbar .category {
      opacity: 0;
      transition: all 0.7s;
      position: relative;
      right: 10px; }
    #header #navbar .category:hover {
      border-bottom: 1px solid white; }
  #header div {
    position: fixed;
    right: 5%;
    top: 3%;
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    box-shadow: 0 0 20px 3px black;
    cursor: pointer; }
    #header div .fa-shopping-basket {
      color: #6f0b0b;
      font-size: 1.7em;
      line-height: 70px; }

#main-poster-container {
  width: 100%;
  height: 600px;
  overflow: hidden; }
  #main-poster-container #main-poster {
    width: 100%; }
  #main-poster-container span {
    position: absolute;
    font-size: 2.5em;
    color: white;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black;
    background-color: rgba(111, 11, 11, 0.8);
    padding: 20px; }

#category-container {
  padding-top: 50px;
  background-image: linear-gradient(#181818, #2e2e2e);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  #category-container div {
    width: 30%;
    height: 200px;
    overflow: hidden;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    color: white;
    margin: 10px 0;
    border-radius: 5px; }
    #category-container div span {
      position: absolute;
      transform: translate(-50%, 0);
      z-index: 1;
      line-height: 200px;
      font-size: 1.5em;
      text-shadow: 0px 0px 5px black;
      cursor: pointer; }
    #category-container div img {
      position: relative;
      transform: translate(-50%, -50%) scale(1);
      top: 50%;
      left: 50%;
      width: 100%;
      height: 200px;
      display: block;
      object-fit: cover;
      opacity: 0.75; }
    #category-container div span:hover + img {
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.2);
      filter: blur(7px); }
    #category-container div img:hover {
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.2);
      filter: blur(7px); }
