/* Coolors Exported Palette - coolors.co/020202-220901-6f0b0b-c4bdbd-ffffff */

/* HSL */
$color1: hsla(0%, 0%, 1%, 1);
$color2: hsla(15%, 94%, 7%, 1);
$color3: hsla(0%, 82%, 24%, 1);
$color4: hsla(0%, 6%, 75%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(2, 2, 2, 1);
$color2: rgba(34, 9, 1, 1);
$color3: rgba(111, 11, 11, 1);
$color4: rgba(196, 189, 189, 1);
$color5: rgba(255, 255, 255, 1);